<div class="app">
  <div class="row no-gutters">
      <div class="col-md-6 mx-auto p-0">
          <div class="card">
              <div class="login-box">
                  <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                      <div class="login-space">
                          <div class="login">
                            <!-- login form from app-login -->
                            <app-login></app-login>
                              
                          </div>
                          <div class="sign-up-form">
                            <!-- signup form from app-signup -->
                              <app-signup></app-signup>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>